<footer class="footer">
    <div class="footer__content">
        <div class="container">
            <div class="footer__body top-footer">
                <div class="footer__column">
                    <a href="#" class="footer__logo">
                        <img loading="lazy" src="img/logo.svg" alt="">
                    </a>
                </div>
                <div class="footer__column">
                    <div class="footer__catalog">
                        <div class="footer__title">каталог</div>
                        <ul>
                            <li>
                                <a href="#">Загрузчики</a>
                            </li>
                            <li>
                                <a href="#">Сушилки</a>
                            </li>
                            <li>
                                <a href="#">Дозаторы</a>
                            </li>
                            <li>
                                <a href="#">Смесители</a>
                            </li>
                            <li>
                                <a href="#">Термостаты</a>
                            </li>
                            <li>
                                <a href="#">Дробилки</a>
                            </li>
                            <li>
                                <a href="#">Ротамеры</a>
                            </li>
                            <li>
                                <a href="#">Чиллеры</a>
                            </li>
                            <li>
                                <a href="#">Запасные части</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="footer__column">
                    <ul class="footer__menu">
                        <li>
                            <a href="#">о компании</a>
                        </li>
                        <li>
                            <a href="#">оплата и доставка</a>
                        </li>
                        <li>
                            <a href="#">контакты</a>
                        </li>
                    </ul>
                </div>
                <div class="footer__column">
                    <div class="contacts">
                        <div class="contacts__location">
                            <span>Наш офис:</span>
                            г. Москва, ул. Маршала Федоренко, д. 3
                        </div>
                        <div class="contacts__contact">
                            <a href="tel:74999385424" class="contacts__phone">+7 (499) 938-54-24</a>
                            <a href="mailto:info@altaprom.ru" class="contacts__email">info@altaprom.ru</a>
                            <div class="contacts__time">с 8:00 до 20:00</div>
                        </div>
                        <a href="#" class="btn btn_primary">
                            Заказать звонок
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer__content">
        <div class="container">
            <div class="footer__body bottom-footer">
                <div class="footer__column">
                    <div class="footer__copy">
                        © 2025 ALTAPROM. Все права защищены
                    </div>
                </div>
                <div class="footer__column"></div>
                <div class="footer__column">
                    <a href="policy.html" class="footer__link">Политика конфиденциальности</a>
                </div>
                <div class="footer__column">
                    <a href="#" class="footer__link">Публичная оферта</a>
                </div>
            </div>
        </div>
    </div>
</footer>