<header class="header">
  <div class="container">
    <div class="header__content">
      <a href="#" class="header__logo">
        <img src="img/logo.svg" alt="">
      </a>
      <div class="header__body">
        <div class="header__menu">
          <div class="header__icon">
            <div class="icon-menu">
              <span></span>
            </div>
          </div>
          <nav class="header__nav">
            <ul class="menu">
              <li class="menu__sub">
                <a href="catalog.html" class="menu__link">
                  <svg aria-hidden="true" width="19" height="19">
                    <use xlink:href="img/sprite.svg#cat"></use>
                  </svg>
                  Каталог
                </a>
                <div class="menu__submenu">
                  <div class="menu__subnav">
                    <!-- START Новое колоночное меню каталога -->
                    <span class="menu__sublist"></span>
                    <span class="menu__sublist"></span>
                    <span class="menu__sublist"></span>
                    <div class="menu-columns">
                      <div class="menu-columns__inner">
                        <div class="menu-columns__category">
                          <p><a href="#" data-img="img/image1.webp">Дозаторы</a></p>
                          <ul>
                            <li><a href="#">Гравиметрические дозаторы</a></li>
                            <li><a href="#">Шнековые дозаторы</a></li>
                          </ul>
                        </div>

                        <div class="menu-columns__category">
                          <p><a href="#" data-img="img/image4.webp">Высокоскоростные дробилки</a></p>
                          <ul>
                            <li><a href="#">Дробилки со звукоизоляцией</a></li>
                            <li><a href="#">Среднескоростные дробилки</a></li>
                            <li><a href="#">Тихоходные бесситовые дробилки</a></li>
                          </ul>
                        </div>

                        <div class="menu-columns__category">
                          <p><a href="#" data-img="img/image5.webp">Загрузчики</a></p>
                          <ul>
                            <li><a href="#">Вакууумные загрузчики</a></li>
                            <li><a href="#">Загрузчики индуктивные</a></li>
                            <li><a href="#">Загрузчики с фазным ротором</a></li>
                            <li><a href="#">Спиральные загрузчики</a></li>
                          </ul>
                        </div>

                        <div class="menu-columns__category">
                          <p><a href="#" data-img="img/image1.webp">клапаны</a></p>
                        </div>

                        <div class="menu-columns__category">
                          <p><a href="#" data-img="img/image1.webp">ротаметры</a></p>
                          <ul>
                            <li><a href="#">Ротамеры SHINi серии SFR</a></li>
                            <li><a href="#">Ротамеры SHINi серии SIFR</a></li>
                          </ul>
                        </div>

                        <div class="menu-columns__category">
                          <p><a href="#" data-img="img/image1.webp">смесители</a></p>
                          <ul>
                            <li><a href="#">Вертикальные миксеры-смесители</a></li>
                            <li><a href="#">Двукомпонентные миксеры-смесители</a></li>
                            <li><a href="#">Металлосепараторы</a></li>
                            <li><a href="#">Накопители-смесители</a></li>
                          </ul>
                        </div>

                        <div class="menu-columns__category">
                          <p><a href="#" data-img="img/image1.webp">Сушилки</a></p>
                          <ul>
                            <li><a href="#">Бункер-сушилки SHINi</a></li>
                            <li><a href="#">Бункер-сушилки SHINi с вакуумными загрузчиками</a></li>
                            <li><a href="#">Бункер-сушилки SHINi серии SHD</a></li>
                          </ul>
                        </div>

                        <div class="menu-columns__category">
                          <p><a href="#" data-img="img/image1.webp">Термостаты</a></p>
                          <ul>
                            <li><a href="#">Водо-масляные термостаты</a></li>
                            <li><a href="#">Водяные термостаты</a></li>
                            <li><a href="#">Масляные термостаты</a></li>
                          </ul>
                        </div>

                        <div class="menu-columns__category">
                          <p><a href="#" data-img="img/image1.webp">чиллеры</a></p>
                          <ul>
                            <li><a href="#">Чиллеры ALTAPROM</a></li>
                            <li><a href="#">Чиллеры для централизованных систем</a></li>
                            <li><a href="#">Чиллеры-термостаты</a></li>
                          </ul>
                        </div>

                        <div class="menu-columns__category">
                          <p><a href="#" data-img="img/image1.webp">запасные части</a></p>
                          <ul>
                            <li><a href="#">Все запчасти</a></li>
                            <li><a href="#">Запчасти для дозаторов</a></li>
                            <li><a href="#">Запчасти для загрузчиков</a></li>
                            <li><a href="#">Запчасти для сушилок</a></li>
                            <li><a href="#">Запчасти для чиллеров</a></li>
                          </ul>
                        </div>

                        <!-- дальше идет дубликат категорий для теста скролла -->

                        <div class="menu-columns__category">
                          <p><a href="#">Дозаторы</a></p>
                          <ul>
                            <li><a href="#">Гравиметрические дозаторы</a></li>
                            <li><a href="#">Шнековые дозаторы</a></li>
                          </ul>
                        </div>

                        <div class="menu-columns__category">
                          <p><a href="#">Высокоскоростные дробилки</a></p>
                          <ul>
                            <li><a href="#">Дробилки со звукоизоляцией</a></li>
                            <li><a href="#">Среднескоростные дробилки</a></li>
                            <li><a href="#">Тихоходные бесситовые дробилки</a></li>
                          </ul>
                        </div>

                        <div class="menu-columns__category">
                          <p><a href="#">Загрузчики</a></p>
                          <ul>
                            <li><a href="#">Вакууумные загрузчики</a></li>
                            <li><a href="#">Загрузчики индуктивные</a></li>
                            <li><a href="#">Загрузчики с фазным ротором</a></li>
                            <li><a href="#">Спиральные загрузчики</a></li>
                          </ul>
                        </div>

                        <div class="menu-columns__category">
                          <p><a href="#">клапаны</a></p>
                        </div>

                        <div class="menu-columns__category">
                          <p><a href="#">ротаметры</a></p>
                          <ul>
                            <li><a href="#">Ротамеры SHINi серии SFR</a></li>
                            <li><a href="#">Ротамеры SHINi серии SIFR</a></li>
                          </ul>
                        </div>

                        <div class="menu-columns__category">
                          <p><a href="#">смесители</a></p>
                          <ul>
                            <li><a href="#">Вертикальные миксеры-смесители</a></li>
                            <li><a href="#">Двукомпонентные миксеры-смесители</a></li>
                            <li><a href="#">Металлосепараторы</a></li>
                            <li><a href="#">Накопители-смесители</a></li>
                          </ul>
                        </div>

                        <div class="menu-columns__category">
                          <p><a href="#">Сушилки</a></p>
                          <ul>
                            <li><a href="#">Бункер-сушилки SHINi</a></li>
                            <li><a href="#">Бункер-сушилки SHINi с вакуумными загрузчиками</a></li>
                            <li><a href="#">Бункер-сушилки SHINi серии SHD</a></li>
                          </ul>
                        </div>

                        <div class="menu-columns__category">
                          <p><a href="#">Термостаты</a></p>
                          <ul>
                            <li><a href="#">Водо-масляные термостаты</a></li>
                            <li><a href="#">Водяные термостаты</a></li>
                            <li><a href="#">Масляные термостаты</a></li>
                          </ul>
                        </div>

                        <div class="menu-columns__category">
                          <p><a href="#">чиллеры</a></p>
                          <ul>
                            <li><a href="#">Чиллеры ALTAPROM</a></li>
                            <li><a href="#">Чиллеры для централизованных систем</a></li>
                            <li><a href="#">Чиллеры-термостаты</a></li>
                          </ul>
                        </div>

                        <div class="menu-columns__category">
                          <p><a href="#">запасные части</a></p>
                          <ul>
                            <li><a href="#">Все запчасти</a></li>
                            <li><a href="#">Запчасти для дозаторов</a></li>
                            <li><a href="#">Запчасти для загрузчиков</a></li>
                            <li><a href="#">Запчасти для сушилок</a></li>
                            <li><a href="#">Запчасти для чиллеров</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <!-- END Новое колоночное меню каталога -->
                    <div class="menu__sublist sublist-image">
                      <a href="catalog.html" class="menu__sublink">
                        <img id="submenuImage" src="img/image1.webp" alt="">
                      </a>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <a href="about.html" class="menu__link">О компании</a>
              </li>
              <li>
                <a href="delivery.html" class="menu__link">оплата и доставка</a>
              </li>
              <li>
                <a href="contacts.html" class="menu__link">Контакты</a>
              </li>
            </ul>
            <div class="contacts">
              <div class="contacts__contact">
                <a href="tel:74999385424" class="contacts__phone">+7 (499) 938-54-24</a>
                <a href="mailto:info@altaprom.ru" class="contacts__email">info@altaprom.ru</a>
                <div class="contacts__time">с 8:00 до 20:00</div>
              </div>
              <button type="button" data-hystmodal="#modalCallback" class="contacts__button">
                Заказать звонок
              </button>
            </div>
          </nav>
        </div>
        <div class="header__buttons">
          <a href="#" class="header__call">
            <svg aria-hidden="true" width="24" height="24">
              <use xlink:href="img/sprite.svg#phone"></use>
            </svg>
          </a>
          <div class="search">
            <button type="button" class="search__button">
              <svg aria-hidden="true" width="24" height="24">
                <use xlink:href="img/sprite.svg#search"></use>
              </svg>
            </button>
            <div class="search__body">
              <div class="search__inner">
                <div class="search__title">поиск по каталогу</div>
                <form action="search.php">
                  <input class="search__input" placeholder="Поиск" type="text">
                  <button type="button" class="search__delete">
                    <svg aria-hidden="true" width="20" height="20">
                      <use xlink:href="img/sprite.svg#close1"></use>
                    </svg>
                  </button>
                  <button class="btn btn_primary" type="submit">
                    <span>Найти</span>
                  </button>
                </form>
                <div class="search__dropdown">
                  <!--
              <div class="search__nofound">
                Ничего не найдено
              </div>
              -->
                  <ul class="search__results">
                    <li>
                      <a href="#">
                        <img src="img/image1.webp" alt="">
                        <span>Дозаторы</span>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <img src="img/image1.webp" alt="">
                        <span>Дозаторы</span>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <img src="img/image1.webp" alt="">
                        <span>Дозаторы</span>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <img src="img/image1.webp" alt="">
                        <span>Дозаторы</span>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <img src="img/image1.webp" alt="">
                        <span>Дозаторы</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<div class="shadow"></div>