<div class="container">
    <div class="block1 main-block-info">
        <span></span>
        <span></span>
    </div>
</div>
<section class="block-info">
    <div class="heading-complex">
        <div class="container">
            <div class="heading-complex__content">
                <div class="heading-complex__left">
                    <h2 class="title2">
                        дополнительная
                        <strong>информация</strong>
                    </h2>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="block-info__content">
            <div class="block-info__text">
                <p>
                    Компания «Альтапром» – один из лидирующих поставщиков оборудования для переработки пластика на
                    российский рынок. Мы стремимся предоставлять нашим клиентам продукцию самого высокого качества. Наш
                    ассортимент для промышленной переработки пластмасс включает в себя: <a href="#">дозаторы</a>, <a
                        href="#">загрузчики</a>, <a href="#">сушилки</a>,
                    <a href="#">термостаты</a>, <a href="#">клапаны</a>, <a href="#">ротаметры</a>, <a
                        href="#">смесители</a>, <a href="#">дробилки</a>, <a href="#">чиллеры</a> и другое периферийное
                    оборудование.
                </p>
                <p>
                    Оборудование, которое предлагает компания «Альтапром», известно такими характеристиками, как
                    долговечность, надежность, длительный срок службы, коррозионная стойкость и способность бесперебойно
                    работать в течение долгого времени. Мы контролируем качество продукции и услуг, отвечая на самые
                    взыскательные запросы и потребности наших клиентов.
                </p>
            </div>
            <div class="block-info__text">
                <p>
                    Мы опираемся на команду хорошо подготовленных профессионалов. Поставляемое оборудование, которое
                    модернизируется в соответствии с растущими требованиями, строго проверяется на качество нашими
                    специалистами. Качество, точность, аккуратность и удовлетворенность клиентов – наши сильные стороны.
                    Амбициозные компании, занимающиеся переработкой полимеров и производством пластиковых изделий,
                    стремятся совершенствовать производственные цепочки, приобретая эффективное и надежное оборудование.
                </p>
                <p>
                    Мы готовы предложить клиентам самые передовые технологии, способные оптимизировать многоступенчатый
                    процесс производства. Модернизация работы приводит к экономии эксплуатационных расходов и
                    энергопотребления, а также снижает затраты на логистику.
                </p>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <div class="block1 main-block1">
        <span></span>
        <span></span>
    </div>
</div>