<div class="container">
    <div class="block1 main-block-info ">
        <span></span>
        <span></span>
    </div>
</div>
<section data-swiper-wrapper="block-recommended" class="block-recommended slider-recommended">
    <div class="heading-complex">
        <div class="container">
            <div class="heading-complex__content">
                <div class="heading-complex__left">
                    <h2 class="title2">
                        запчасти
                        <strong>и комплектующие</strong>
                    </h2>
                    <div class="swiper-navs">
                        <button class="swiper-nav swiper-nav_next" type="button">
                            <svg aria-hidden="true" width="20" height="20">
                                <use xlink:href="img/sprite.svg#arrow1"></use>
                            </svg>
                            <span class="v-h">Вперед</span>
                        </button>
                        <button class="swiper-nav swiper-nav_prev" type="button">
                            <svg aria-hidden="true" width="20" height="20">
                                <use xlink:href="img/sprite.svg#arrow1"></use>
                            </svg>
                            <span class="v-h">Назад</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="block-recommended__content">
            <div data-swiper="block-recommended" class="swiper swiper-recommended">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="card-product">
                            <div class="card-product__image">
                                <img loading="lazy" src="img/image13.webp" alt="">
                            </div>
                            <div class="card-product__item">
                                <div class="card-product__title">
                                    Шнековый дозатор красителя SHINI серии SCM
                                </div>
                                <div class="card-product__bottom">
                                    <div class="card-product__price">от 5 000 $</div>
                                    <div class="card-product__buttons">
                                        <a href="#" class="btn-order btn btn_primary">Заказать</a>
                                        <a href="product-card.html" class="btn-more btn btn_primary ">Подробнее</a>
                                    </div>
                                </div>
                            </div>
                            <div class="card-product__front">
                                <div class="card-product__descr">
                                    <div class="card-product__list">
                                        <div class="card-product__list-title">Характеристики</div>
                                        <ul>
                                            <li>
                                                <span>простая конструкция</span>
                                            </li>
                                            <li>
                                                <span>быстрый монтаж
                                                    и чистка</span>
                                            </li>
                                            <li>
                                                <span>магнитная ловушка</span>
                                            </li>
                                            <li>
                                                <span>микропроцессорное управление</span>
                                            </li>
                                            <li>
                                                <span>жк индикатор</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="card-product__lists">
                                        <div class="card-product__list">
                                            <div class="card-product__list-title">Производитель</div>
                                            <span>SHINI</span>
                                        </div>
                                        <div class="card-product__list">
                                            <div class="card-product__list-title">Тип дозатора</div>
                                            <span>объемный</span>
                                        </div>
                                        <div class="card-product__list">
                                            <div class="card-product__list-title">Производительность, кг/ч</div>
                                            <span>0.1 - 130</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-product__buttons">
                                    <a href="#" class="btn-order btn btn_primary">Заказать</a>
                                    <a href="product-card.html" class="btn-more btn btn_primary ">Подробнее</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card-product">
                            <div class="card-product__image">
                                <img loading="lazy" src="img/image14.webp" alt="">
                            </div>
                            <div class="card-product__item">
                                <div class="card-product__title">
                                    Вертикальный миксер-смеситель полимерного сырья SHINI серии SVM
                                </div>
                                <div class="card-product__bottom">
                                    <div class="card-product__price">Цена по запросу</div>
                                    <div class="card-product__buttons">
                                        <a href="#" class="btn-order btn btn_primary">Заказать</a>
                                        <a href="product-card.html" class="btn-more btn btn_primary ">Подробнее</a>
                                    </div>
                                </div>
                            </div>
                            <div class="card-product__front">
                                <div class="card-product__descr">
                                    <div class="card-product__list">
                                        <div class="card-product__list-title">Характеристики</div>
                                        <ul>
                                            <li>
                                                <span>простая конструкция</span>
                                            </li>
                                            <li>
                                                <span>быстрый монтаж
                                                    и чистка</span>
                                            </li>
                                            <li>
                                                <span>магнитная ловушка</span>
                                            </li>
                                            <li>
                                                <span>микропроцессорное управление</span>
                                            </li>
                                            <li>
                                                <span>жк индикатор</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="card-product__lists">
                                        <div class="card-product__list">
                                            <div class="card-product__list-title">Производитель</div>
                                            <span>SHINI</span>
                                        </div>
                                        <div class="card-product__list">
                                            <div class="card-product__list-title">Тип дозатора</div>
                                            <span>объемный</span>
                                        </div>
                                        <div class="card-product__list">
                                            <div class="card-product__list-title">Производительность, кг/ч</div>
                                            <span>0.1 - 130</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-product__buttons">
                                    <a href="#" class="btn-order btn btn_primary">Заказать</a>
                                    <a href="product-card.html" class="btn-more btn btn_primary ">Подробнее</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card-product">
                            <div class="card-product__image">
                                <img loading="lazy" src="img/image15.webp" alt="">
                            </div>
                            <div class="card-product__item">
                                <div class="card-product__title">
                                    Накопительный смеситель для пластмасс и красителей SHINI серии SSM
                                </div>
                                <div class="card-product__bottom">
                                    <div class="card-product__price">Цена по запросу</div>
                                    <div class="card-product__buttons">
                                        <a href="#" class="btn-order btn btn_primary">Заказать</a>
                                        <a href="product-card.html" class="btn-more btn btn_primary ">Подробнее</a>
                                    </div>
                                </div>
                            </div>
                            <div class="card-product__front">
                                <div class="card-product__descr">
                                    <div class="card-product__list">
                                        <div class="card-product__list-title">Характеристики</div>
                                        <ul>
                                            <li>
                                                <span>простая конструкция</span>
                                            </li>
                                            <li>
                                                <span>быстрый монтаж
                                                    и чистка</span>
                                            </li>
                                            <li>
                                                <span>магнитная ловушка</span>
                                            </li>
                                            <li>
                                                <span>микропроцессорное управление</span>
                                            </li>
                                            <li>
                                                <span>жк индикатор</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="card-product__lists">
                                        <div class="card-product__list">
                                            <div class="card-product__list-title">Производитель</div>
                                            <span>SHINI</span>
                                        </div>
                                        <div class="card-product__list">
                                            <div class="card-product__list-title">Тип дозатора</div>
                                            <span>объемный</span>
                                        </div>
                                        <div class="card-product__list">
                                            <div class="card-product__list-title">Производительность, кг/ч</div>
                                            <span>0.1 - 130</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-product__buttons">
                                    <a href="#" class="btn-order btn btn_primary">Заказать</a>
                                    <a href="product-card.html" class="btn-more btn btn_primary ">Подробнее</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card-product">
                            <div class="card-product__image">
                                <img loading="lazy" src="img/image16.webp" alt="">
                            </div>
                            <div class="card-product__item">
                                <div class="card-product__title">
                                    Вакуумный загрузчик SHINI серии SAL
                                </div>
                                <div class="card-product__bottom">
                                    <div class="card-product__price">Цена по запросу</div>
                                    <div class="card-product__buttons">
                                        <a href="#" class="btn-order btn btn_primary">Заказать</a>
                                        <a href="product-card.html" class="btn-more btn btn_primary ">Подробнее</a>
                                    </div>
                                </div>
                            </div>
                            <div class="card-product__front">
                                <div class="card-product__descr">
                                    <div class="card-product__list">
                                        <div class="card-product__list-title">Характеристики</div>
                                        <ul>
                                            <li>
                                                <span>простая конструкция</span>
                                            </li>
                                            <li>
                                                <span>быстрый монтаж
                                                    и чистка</span>
                                            </li>
                                            <li>
                                                <span>магнитная ловушка</span>
                                            </li>
                                            <li>
                                                <span>микропроцессорное управление</span>
                                            </li>
                                            <li>
                                                <span>жк индикатор</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="card-product__lists">
                                        <div class="card-product__list">
                                            <div class="card-product__list-title">Производитель</div>
                                            <span>SHINI</span>
                                        </div>
                                        <div class="card-product__list">
                                            <div class="card-product__list-title">Тип дозатора</div>
                                            <span>объемный</span>
                                        </div>
                                        <div class="card-product__list">
                                            <div class="card-product__list-title">Производительность, кг/ч</div>
                                            <span>0.1 - 130</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-product__buttons">
                                    <a href="#" class="btn-order btn btn_primary">Заказать</a>
                                    <a href="product-card.html" class="btn-more btn btn_primary ">Подробнее</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card-product">
                            <div class="card-product__image">
                                <img loading="lazy" src="img/image16.webp" alt="">
                            </div>
                            <div class="card-product__item">
                                <div class="card-product__title">
                                    Вакуумный загрузчик SHINI серии SAL
                                </div>
                                <div class="card-product__bottom">
                                    <div class="card-product__price">Цена по запросу</div>
                                    <div class="card-product__buttons">
                                        <a href="#" class="btn-order btn btn_primary">Заказать</a>
                                        <a href="product-card.html" class="btn-more btn btn_primary ">Подробнее</a>
                                    </div>
                                </div>
                            </div>
                            <div class="card-product__front">
                                <div class="card-product__descr">
                                    <div class="card-product__list">
                                        <div class="card-product__list-title">Характеристики</div>
                                        <ul>
                                            <li>
                                                <span>простая конструкция</span>
                                            </li>
                                            <li>
                                                <span>быстрый монтаж
                                                    и чистка</span>
                                            </li>
                                            <li>
                                                <span>магнитная ловушка</span>
                                            </li>
                                            <li>
                                                <span>микропроцессорное управление</span>
                                            </li>
                                            <li>
                                                <span>жк индикатор</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="card-product__lists">
                                        <div class="card-product__list">
                                            <div class="card-product__list-title">Производитель</div>
                                            <span>SHINI</span>
                                        </div>
                                        <div class="card-product__list">
                                            <div class="card-product__list-title">Тип дозатора</div>
                                            <span>объемный</span>
                                        </div>
                                        <div class="card-product__list">
                                            <div class="card-product__list-title">Производительность, кг/ч</div>
                                            <span>0.1 - 130</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-product__buttons">
                                    <a href="#" class="btn-order btn btn_primary">Заказать</a>
                                    <a href="product-card.html" class="btn-more btn btn_primary ">Подробнее</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <div class="block1 main-block4">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>