<!DOCTYPE html>
<html lang="ru">

<head>
	<title>Доставка и оплата</title>
	{% include 'blocks/head.njk' %}
</head>

<body class="preload mp">
	<div class="main-wrapper-outer">
		{% include 'blocks/header.njk' %}
		<main class="main">

			<div class="breadcrumbs">
				<div class="container">
					<ul class="breadcrumbs__list">
						<li class="breadcrumbs__item">
							<a href="/">
								Главная
							</a>
						</li>
						<li class="breadcrumbs__item is-active">
							<span>Доставка и оплата</span>
						</li>
					</ul>
				</div>
			</div>

			<div class="heading-complex">
				<div class="container">
					<div class="heading-complex__content">
						<div class="heading-complex__left">
							<h1 class="title2">
								Доставка
								<strong>и оплата</strong>
							</h1>
						</div>
					</div>
				</div>
			</div>

			<div class="block-delivery">
				<div class="container">
					<div class="block-delivery__content">
						<div class="block-delivery__left">
							<div class="block-delivery__body">
								<div class="block-delivery__column">
									<div class="block-delivery__item">
										<div class="block-delivery__header">
											<img src="img/icon5.svg" alt="">
											<div class="block-delivery__title">
												условия оплаты
											</div>
										</div>
										<div class="block-delivery__descr">
											<p>
												Уважаемые клиенты! Обращаем ваше внимание, что оплата за товар и услуги
												доставки производится <strong>только безналичным
													расчетом.</strong> Это
												единственный
												способ
												оплаты при покупке товара в нашей компании, и форма оплаты – только
												расчетный счет.
											</p>
											<p>
												После подписания договора клиент вносит предоплату, при готовности
												товара
												оплачивается вторая часть стоимости товара, при поступлении товара в РФ
												покупатель оплачивает оставшуюся часть. Таким образом, оплата товара
												производится в три этапа.
											</p>
										</div>
									</div>
								</div>
								<div class="block-delivery__column">
									<div class="block-delivery__item">
										<div class="block-delivery__header">
											<img src="img/icon6.svg" alt="">
											<div class="block-delivery__title">
												условия доставки
											</div>
										</div>
										<div class="block-delivery__descr">
											<p>
												До 80-ти процентов продукции нашей компании находится на складе и может
												быть
												отправлено на следующий день после подписания договора и оплаты.
											</p>
											<p>
												<span class="strong">Если товара
													нет на складе</span> – поставка производится под заказ. Срок
												поставки
												варьируется
												от 85 до 110 календарных дней. При поставке товара на территорию
												Российской
												Федерации производится процедура растаможивания. После оформления всех
												документов товар готов к отправке на место назначения.
											</p>
											<p>
												<span class="strong">
													На любом этапе оплаты
													и доставки товара Вы можете рассчитывать
													<br>
													на профессиональную поддержку наших специалистов.
												</span>
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="contacts-info">
							<div class="contacts-info__item">
								<div class="contacts-info__name">
									контактная информация
								</div>
								<div class="contacts-info__body">
									<div class="contacts-info__column">
										<div class="contacts-info__title">адрес офиса (склада)</div>
										<div class="contacts-info__subtitle contacts-address">
											г. Москва, ул. Маршала
											<br>
											Федоренко, д. 3
										</div>
										<a href="#" class="contacts-info__map">На карте</a>
									</div>
									<div class="contacts-info__column">
										<div class="contacts-info__title">телефон</div>
										<a href="tel:74999385424" class="contacts-info__subtitle contacts-phone">
											+7 (499) 938-54-24
										</a>
									</div>
									<div class="contacts-info__column">
										<div class="contacts-info__title">E-mail</div>
										<a href="mailto:info@altaprom.ru" class="contacts-info__subtitle">
											info@altaprom.ru
										</a>
									</div>
									<div class="contacts-info__column">
										<div class="contacts-info__title">часы работы</div>
										<div class="contacts-info__subtitle">
											с 9:00 до 18:00
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</main>
		{% include 'blocks/footer.njk' %}
	</div>
	{% include 'blocks/popups.njk' %}
	{% include 'blocks/scripts.njk' %}
</body>

</html>