<!DOCTYPE html>
<html lang="ru">

<head>
	<title>Новости</title>
	{% include 'blocks/head.njk' %}
</head>

<body class="preload mp">
	<div class="main-wrapper-outer">
		{% include 'blocks/header.njk' %}
		<main class="main">

			<div class="breadcrumbs">
				<div class="container">
					<ul class="breadcrumbs__list">
						<li class="breadcrumbs__item">
							<a href="/">
								Главная
							</a>
						</li>
						<li class="breadcrumbs__item is-active">
							<span>Новости</span>
						</li>
					</ul>
				</div>
			</div>

			<div class="heading-complex">
				<div class="container">
					<div class="heading-complex__content">
						<div class="heading-complex__left">
							<h1 class="title2">
								новости
								<strong>компании</strong>
							</h1>
						</div>
					</div>
				</div>
			</div>

			<div class="block-news">
				<div class="container">
					<div class="block-news__content">
						<div class="block-news__cards">
							<a href="news-detail.html" class="card-news">
								<img class="card-news__image" loading="lazy" src="img/image20.webp" alt="">
								<div class="card-news__item">
									<div class="card-news__date">
										19 мая 2025
									</div>
									<div class="card-news__bottom">
										<div class="card-news__title">
											Роторная мельница с системой выгрузки готового компонента
										</div>
										<div class="card-news__link">
											Подробнее
											<svg aria-hidden="true" width="16" height="16">
												<use xlink:href="img/sprite.svg#arrow1"></use>
											</svg>
										</div>
									</div>
								</div>
							</a>
							<a href="news-detail.html" class="card-news">
								<img class="card-news__image" loading="lazy" src="img/image20.webp" alt="">
								<div class="card-news__item">
									<div class="card-news__date">
										19 мая 2025
									</div>
									<div class="card-news__bottom">
										<div class="card-news__title">
											Участие в 15-ой международной выставке Rosplast 2025
										</div>
										<div class="card-news__link">
											Подробнее
											<svg aria-hidden="true" width="16" height="16">
												<use xlink:href="img/sprite.svg#arrow1"></use>
											</svg>
										</div>
									</div>
								</div>
							</a>
							<a href="news-detail.html" class="card-news">
								<img class="card-news__image" loading="lazy" src="img/image20.webp" alt="">
								<div class="card-news__item">
									<div class="card-news__date">
										19 мая 2025
									</div>
									<div class="card-news__bottom">
										<div class="card-news__title">
											Роторная мельница с системой выгрузки готового компонента
										</div>
										<div class="card-news__link">
											Подробнее
											<svg aria-hidden="true" width="16" height="16">
												<use xlink:href="img/sprite.svg#arrow1"></use>
											</svg>
										</div>
									</div>
								</div>
							</a>
							<a href="news-detail.html" class="card-news">
								<img class="card-news__image" loading="lazy" src="img/image20.webp" alt="">
								<div class="card-news__item">
									<div class="card-news__date">
										19 мая 2025
									</div>
									<div class="card-news__bottom">
										<div class="card-news__title">
											Участие в 15-ой международной выставке Rosplast 2025
										</div>
										<div class="card-news__link">
											Подробнее
											<svg aria-hidden="true" width="16" height="16">
												<use xlink:href="img/sprite.svg#arrow1"></use>
											</svg>
										</div>
									</div>
								</div>
							</a>
							<a href="news-detail.html" class="card-news">
								<img class="card-news__image" loading="lazy" src="img/image20.webp" alt="">
								<div class="card-news__item">
									<div class="card-news__date">
										19 мая 2025
									</div>
									<div class="card-news__bottom">
										<div class="card-news__title">
											Участие в 15-ой международной выставке Rosplast 2025
										</div>
										<div class="card-news__link">
											Подробнее
											<svg aria-hidden="true" width="16" height="16">
												<use xlink:href="img/sprite.svg#arrow1"></use>
											</svg>
										</div>
									</div>
								</div>
							</a>
							<a href="news-detail.html" class="card-news">
								<img class="card-news__image" loading="lazy" src="img/image20.webp" alt="">
								<div class="card-news__item">
									<div class="card-news__date">
										19 мая 2025
									</div>
									<div class="card-news__bottom">
										<div class="card-news__title">
											Роторная мельница с системой выгрузки готового компонента
										</div>
										<div class="card-news__link">
											Подробнее
											<svg aria-hidden="true" width="16" height="16">
												<use xlink:href="img/sprite.svg#arrow1"></use>
											</svg>
										</div>
									</div>
								</div>
							</a>
							<a href="news-detail.html" class="card-news">
								<img class="card-news__image" loading="lazy" src="img/image20.webp" alt="">
								<div class="card-news__item">
									<div class="card-news__date">
										19 мая 2025
									</div>
									<div class="card-news__bottom">
										<div class="card-news__title">
											Роторная мельница с системой выгрузки готового компонента
										</div>
										<div class="card-news__link">
											Подробнее
											<svg aria-hidden="true" width="16" height="16">
												<use xlink:href="img/sprite.svg#arrow1"></use>
											</svg>
										</div>
									</div>
								</div>
							</a>
							<a href="news-detail.html" class="card-news">
								<img class="card-news__image" loading="lazy" src="img/image20.webp" alt="">
								<div class="card-news__item">
									<div class="card-news__date">
										19 мая 2025
									</div>
									<div class="card-news__bottom">
										<div class="card-news__title">
											Роторная мельница с системой выгрузки готового компонента
										</div>
										<div class="card-news__link">
											Подробнее
											<svg aria-hidden="true" width="16" height="16">
												<use xlink:href="img/sprite.svg#arrow1"></use>
											</svg>
										</div>
									</div>
								</div>
							</a>
							<a href="news-detail.html" class="card-news">
								<img class="card-news__image" loading="lazy" src="img/image20.webp" alt="">
								<div class="card-news__item">
									<div class="card-news__date">
										19 мая 2025
									</div>
									<div class="card-news__bottom">
										<div class="card-news__title">
											Роторная мельница с системой выгрузки готового компонента
										</div>
										<div class="card-news__link">
											Подробнее
											<svg aria-hidden="true" width="16" height="16">
												<use xlink:href="img/sprite.svg#arrow1"></use>
											</svg>
										</div>
									</div>
								</div>
							</a>
							<a href="news-detail.html" class="card-news">
								<img class="card-news__image" loading="lazy" src="img/image20.webp" alt="">
								<div class="card-news__item">
									<div class="card-news__date">
										19 мая 2025
									</div>
									<div class="card-news__bottom">
										<div class="card-news__title">
											Участие в 15-ой международной выставке Rosplast 2025
										</div>
										<div class="card-news__link">
											Подробнее
											<svg aria-hidden="true" width="16" height="16">
												<use xlink:href="img/sprite.svg#arrow1"></use>
											</svg>
										</div>
									</div>
								</div>
							</a>
							<a href="news-detail.html" class="card-news">
								<img class="card-news__image" loading="lazy" src="img/image20.webp" alt="">
								<div class="card-news__item">
									<div class="card-news__date">
										19 мая 2025
									</div>
									<div class="card-news__bottom">
										<div class="card-news__title">
											Роторная мельница с системой выгрузки готового компонента
										</div>
										<div class="card-news__link">
											Подробнее
											<svg aria-hidden="true" width="16" height="16">
												<use xlink:href="img/sprite.svg#arrow1"></use>
											</svg>
										</div>
									</div>
								</div>
							</a>
							<a href="news-detail.html" class="card-news">
								<img class="card-news__image" loading="lazy" src="img/image20.webp" alt="">
								<div class="card-news__item">
									<div class="card-news__date">
										19 мая 2025
									</div>
									<div class="card-news__bottom">
										<div class="card-news__title">
											Участие в 15-ой международной выставке Rosplast 2025
										</div>
										<div class="card-news__link">
											Подробнее
											<svg aria-hidden="true" width="16" height="16">
												<use xlink:href="img/sprite.svg#arrow1"></use>
											</svg>
										</div>
									</div>
								</div>
							</a>
							<a href="news-detail.html" class="card-news">
								<img class="card-news__image" loading="lazy" src="img/image20.webp" alt="">
								<div class="card-news__item">
									<div class="card-news__date">
										19 мая 2025
									</div>
									<div class="card-news__bottom">
										<div class="card-news__title">
											Участие в 15-ой международной выставке Rosplast 2025
										</div>
										<div class="card-news__link">
											Подробнее
											<svg aria-hidden="true" width="16" height="16">
												<use xlink:href="img/sprite.svg#arrow1"></use>
											</svg>
										</div>
									</div>
								</div>
							</a>
							<a href="news-detail.html" class="card-news">
								<img class="card-news__image" loading="lazy" src="img/image20.webp" alt="">
								<div class="card-news__item">
									<div class="card-news__date">
										19 мая 2025
									</div>
									<div class="card-news__bottom">
										<div class="card-news__title">
											Роторная мельница с системой выгрузки готового компонента
										</div>
										<div class="card-news__link">
											Подробнее
											<svg aria-hidden="true" width="16" height="16">
												<use xlink:href="img/sprite.svg#arrow1"></use>
											</svg>
										</div>
									</div>
								</div>
							</a>
							<a href="news-detail.html" class="card-news">
								<img class="card-news__image" loading="lazy" src="img/image20.webp" alt="">
								<div class="card-news__item">
									<div class="card-news__date">
										19 мая 2025
									</div>
									<div class="card-news__bottom">
										<div class="card-news__title">
											Роторная мельница с системой выгрузки готового компонента
										</div>
										<div class="card-news__link">
											Подробнее
											<svg aria-hidden="true" width="16" height="16">
												<use xlink:href="img/sprite.svg#arrow1"></use>
											</svg>
										</div>
									</div>
								</div>
							</a>
							<a href="news-detail.html" class="card-news">
								<img class="card-news__image" loading="lazy" src="img/image20.webp" alt="">
								<div class="card-news__item">
									<div class="card-news__date">
										19 мая 2025
									</div>
									<div class="card-news__bottom">
										<div class="card-news__title">
											Роторная мельница с системой выгрузки готового компонента
										</div>
										<div class="card-news__link">
											Подробнее
											<svg aria-hidden="true" width="16" height="16">
												<use xlink:href="img/sprite.svg#arrow1"></use>
											</svg>
										</div>
									</div>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="block-news-pagging">
				<div class="container">
					{% include 'blocks/pagging.njk' %}
				</div>
			</div>

			<div class="container">
				<div class="block1 main-block2">
					<span></span>
					<span></span>
					<span></span>
					<span></span>
				</div>
			</div>

		</main>
		{% include 'blocks/footer.njk' %}
	</div>
	{% include 'blocks/popups.njk' %}
	{% include 'blocks/scripts.njk' %}
</body>

</html>