<!DOCTYPE html>
<html lang="ru">

<head>
	<title>Дозаторы</title>
	{% include 'blocks/head.njk' %}
</head>

<body class="preload mp">
	<div class="main-wrapper-outer">
		{% include 'blocks/header.njk' %}
		<main class="main">

			<div class="breadcrumbs">
				<div class="container">
					<ul class="breadcrumbs__list">
						<li class="breadcrumbs__item">
							<a href="/">
								Главная
							</a>
						</li>
						<li class="breadcrumbs__item is-active">
							<span>Поиск по каталогу</span>
						</li>
					</ul>
				</div>
			</div>

			<div class="block-catalog-detail block-search">
				<div class="search">
					<div class="container">
						<div class="search__body">
							<div class="search__inner">
								<h1 class="title2"><strong>поиск по каталогу</strong></h1>
								<form action="search.php">
									<input class="search__input" placeholder="Поиск" value="Дозатор" type="text">
									<button type="button" class="search__delete">
										<svg aria-hidden="true" width="20" height="20">
											<use xlink:href="img/sprite.svg#close1"></use>
										</svg>
									</button>
									<button class="btn btn_primary" type="submit">
										<span>Найти</span>
									</button>
								</form>
								<div class="search__dropdown">
									<!--
              <div class="search__nofound">
                Ничего не найдено
              </div>
              -->
									<ul class="search__results">
										<li>
											<a href="#">
												<img src="img/image1.webp" alt="">
												<span>Дозаторы</span>
											</a>
										</li>
										<li>
											<a href="#">
												<img src="img/image1.webp" alt="">
												<span>Дозаторы</span>
											</a>
										</li>
										<li>
											<a href="#">
												<img src="img/image1.webp" alt="">
												<span>Дозаторы</span>
											</a>
										</li>
										<li>
											<a href="#">
												<img src="img/image1.webp" alt="">
												<span>Дозаторы</span>
											</a>
										</li>
										<li>
											<a href="#">
												<img src="img/image1.webp" alt="">
												<span>Дозаторы</span>
											</a>
										</li>
									</ul>
								</div>
								<p>
									По запросу <span>«Дозатор»</span> найдено товаров: 155
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="container">
					<div class="block-catalog-detail__content">
						<div class="block-catalog-detail__body">
							<div class="block-catalog-detail__cards">
								<div class="card-product">
									<div class="card-product__image">
										<img loading="lazy" src="img/image19.webp" alt="">
									</div>
									<div class="card-product__item">
										<div class="card-product__title">
											Шнековый дозатор красителя SHINI серии
											SCM
										</div>
										<div class="card-product__bottom">
											<div class="card-product__price">от 5 000 $</div>
											<div class="card-product__buttons">
												<a href="#" class="btn-order btn btn_primary">Заказать</a>
												<a href="product-card.html"
													class="btn-more btn btn_primary ">Подробнее</a>
											</div>
										</div>
									</div>
									<div class="card-product__front">
										<div class="card-product__descr">
											<div class="card-product__list">
												<div class="card-product__list-title">Характеристики</div>
												<ul>
													<li>
														<span>простая конструкция</span>
													</li>
													<li>
														<span>быстрый монтаж
															и чистка</span>
													</li>
													<li>
														<span>магнитная ловушка</span>
													</li>
													<li>
														<span>микропроцессорное управление</span>
													</li>
													<li>
														<span>жк индикатор</span>
													</li>
												</ul>
											</div>
											<div class="card-product__lists">
												<div class="card-product__list">
													<div class="card-product__list-title">Производитель</div>
													<span>SHINI</span>
												</div>
												<div class="card-product__list">
													<div class="card-product__list-title">Тип дозатора</div>
													<span>объемный</span>
												</div>
												<div class="card-product__list">
													<div class="card-product__list-title">Производительность, кг/ч</div>
													<span>0.1 - 130</span>
												</div>
											</div>
										</div>
										<div class="card-product__buttons">
											<a href="#" class="btn-order btn btn_primary">Заказать</a>
											<a href="product-card.html" class="btn-more btn btn_primary ">Подробнее</a>
										</div>
									</div>
								</div>
								<div class="card-product">
									<div class="card-product__image">
										<img loading="lazy" src="img/image19.webp" alt="">
									</div>
									<div class="card-product__item">
										<div class="card-product__title">
											Шнековый дозатор красителя SHINI серии
											SCM
										</div>
										<div class="card-product__bottom">
											<div class="card-product__price">от 5 000 $</div>
											<div class="card-product__buttons">
												<a href="#" class="btn-order btn btn_primary">Заказать</a>
												<a href="product-card.html"
													class="btn-more btn btn_primary ">Подробнее</a>
											</div>
										</div>
									</div>
									<div class="card-product__front">
										<div class="card-product__descr">
											<div class="card-product__list">
												<div class="card-product__list-title">Характеристики</div>
												<ul>
													<li>
														<span>простая конструкция</span>
													</li>
													<li>
														<span>быстрый монтаж
															и чистка</span>
													</li>
													<li>
														<span>магнитная ловушка</span>
													</li>
													<li>
														<span>микропроцессорное управление</span>
													</li>
													<li>
														<span>жк индикатор</span>
													</li>
												</ul>
											</div>
											<div class="card-product__lists">
												<div class="card-product__list">
													<div class="card-product__list-title">Производитель</div>
													<span>SHINI</span>
												</div>
												<div class="card-product__list">
													<div class="card-product__list-title">Тип дозатора</div>
													<span>объемный</span>
												</div>
												<div class="card-product__list">
													<div class="card-product__list-title">Производительность, кг/ч</div>
													<span>0.1 - 130</span>
												</div>
											</div>
										</div>
										<div class="card-product__buttons">
											<a href="#" class="btn-order btn btn_primary">Заказать</a>
											<a href="product-card.html" class="btn-more btn btn_primary ">Подробнее</a>
										</div>
									</div>
								</div>
								<div class="card-product">
									<div class="card-product__image">
										<img loading="lazy" src="img/image19.webp" alt="">
									</div>
									<div class="card-product__item">
										<div class="card-product__title">
											Шнековый дозатор красителя SHINI серии
											SCM
										</div>
										<div class="card-product__bottom">
											<div class="card-product__price">Цена по запросу</div>
											<div class="card-product__buttons">
												<a href="#" class="btn-order btn btn_primary">Заказать</a>
												<a href="product-card.html"
													class="btn-more btn btn_primary ">Подробнее</a>
											</div>
										</div>
									</div>
									<div class="card-product__front">
										<div class="card-product__descr">
											<div class="card-product__list">
												<div class="card-product__list-title">Характеристики</div>
												<ul>
													<li>
														<span>простая конструкция</span>
													</li>
													<li>
														<span>быстрый монтаж
															и чистка</span>
													</li>
													<li>
														<span>магнитная ловушка</span>
													</li>
													<li>
														<span>микропроцессорное управление</span>
													</li>
													<li>
														<span>жк индикатор</span>
													</li>
												</ul>
											</div>
											<div class="card-product__lists">
												<div class="card-product__list">
													<div class="card-product__list-title">Производитель</div>
													<span>SHINI</span>
												</div>
												<div class="card-product__list">
													<div class="card-product__list-title">Тип дозатора</div>
													<span>объемный</span>
												</div>
												<div class="card-product__list">
													<div class="card-product__list-title">Производительность, кг/ч</div>
													<span>0.1 - 130</span>
												</div>
											</div>
										</div>
										<div class="card-product__buttons">
											<a href="#" class="btn-order btn btn_primary">Заказать</a>
											<a href="product-card.html" class="btn-more btn btn_primary ">Подробнее</a>
										</div>
									</div>
								</div>
								<div class="card-product">
									<div class="card-product__image">
										<img loading="lazy" src="img/image19.webp" alt="">
									</div>
									<div class="card-product__item">
										<div class="card-product__title">
											Шнековый дозатор красителя SHINI серии
											SCM
										</div>
										<div class="card-product__bottom">
											<div class="card-product__price">Цена по запросу</div>
											<div class="card-product__buttons">
												<a href="#" class="btn-order btn btn_primary">Заказать</a>
												<a href="product-card.html"
													class="btn-more btn btn_primary ">Подробнее</a>
											</div>
										</div>
									</div>
									<div class="card-product__front">
										<div class="card-product__descr">
											<div class="card-product__list">
												<div class="card-product__list-title">Характеристики</div>
												<ul>
													<li>
														<span>простая конструкция</span>
													</li>
													<li>
														<span>быстрый монтаж
															и чистка</span>
													</li>
													<li>
														<span>магнитная ловушка</span>
													</li>
													<li>
														<span>микропроцессорное управление</span>
													</li>
													<li>
														<span>жк индикатор</span>
													</li>
												</ul>
											</div>
											<div class="card-product__lists">
												<div class="card-product__list">
													<div class="card-product__list-title">Производитель</div>
													<span>SHINI</span>
												</div>
												<div class="card-product__list">
													<div class="card-product__list-title">Тип дозатора</div>
													<span>объемный</span>
												</div>
												<div class="card-product__list">
													<div class="card-product__list-title">Производительность, кг/ч</div>
													<span>0.1 - 130</span>
												</div>
											</div>
										</div>
										<div class="card-product__buttons">
											<a href="#" class="btn-order btn btn_primary">Заказать</a>
											<a href="product-card.html" class="btn-more btn btn_primary ">Подробнее</a>
										</div>
									</div>
								</div>
								<div class="card-product">
									<div class="card-product__image">
										<img loading="lazy" src="img/image19.webp" alt="">
									</div>
									<div class="card-product__item">
										<div class="card-product__title">
											Шнековый дозатор красителя SHINI серии
											SCM
										</div>
										<div class="card-product__bottom">
											<div class="card-product__price">Цена по запросу</div>
											<div class="card-product__buttons">
												<a href="#" class="btn-order btn btn_primary">Заказать</a>
												<a href="product-card.html"
													class="btn-more btn btn_primary ">Подробнее</a>
											</div>
										</div>
									</div>
									<div class="card-product__front">
										<div class="card-product__descr">
											<div class="card-product__list">
												<div class="card-product__list-title">Характеристики</div>
												<ul>
													<li>
														<span>простая конструкция</span>
													</li>
													<li>
														<span>быстрый монтаж
															и чистка</span>
													</li>
													<li>
														<span>магнитная ловушка</span>
													</li>
													<li>
														<span>микропроцессорное управление</span>
													</li>
													<li>
														<span>жк индикатор</span>
													</li>
												</ul>
											</div>
											<div class="card-product__lists">
												<div class="card-product__list">
													<div class="card-product__list-title">Производитель</div>
													<span>SHINI</span>
												</div>
												<div class="card-product__list">
													<div class="card-product__list-title">Тип дозатора</div>
													<span>объемный</span>
												</div>
												<div class="card-product__list">
													<div class="card-product__list-title">Производительность, кг/ч</div>
													<span>0.1 - 130</span>
												</div>
											</div>
										</div>
										<div class="card-product__buttons">
											<a href="#" class="btn-order btn btn_primary">Заказать</a>
											<a href="product-card.html" class="btn-more btn btn_primary ">Подробнее</a>
										</div>
									</div>
								</div>
								<div class="card-product">
									<div class="card-product__image">
										<img loading="lazy" src="img/image19.webp" alt="">
									</div>
									<div class="card-product__item">
										<div class="card-product__title">
											Шнековый дозатор красителя SHINI серии
											SCM
										</div>
										<div class="card-product__bottom">
											<div class="card-product__price">Цена по запросу</div>
											<div class="card-product__buttons">
												<a href="#" class="btn-order btn btn_primary">Заказать</a>
												<a href="product-card.html"
													class="btn-more btn btn_primary ">Подробнее</a>
											</div>
										</div>
									</div>
									<div class="card-product__front">
										<div class="card-product__descr">
											<div class="card-product__list">
												<div class="card-product__list-title">Характеристики</div>
												<ul>
													<li>
														<span>простая конструкция</span>
													</li>
													<li>
														<span>быстрый монтаж
															и чистка</span>
													</li>
													<li>
														<span>магнитная ловушка</span>
													</li>
													<li>
														<span>микропроцессорное управление</span>
													</li>
													<li>
														<span>жк индикатор</span>
													</li>
												</ul>
											</div>
											<div class="card-product__lists">
												<div class="card-product__list">
													<div class="card-product__list-title">Производитель</div>
													<span>SHINI</span>
												</div>
												<div class="card-product__list">
													<div class="card-product__list-title">Тип дозатора</div>
													<span>объемный</span>
												</div>
												<div class="card-product__list">
													<div class="card-product__list-title">Производительность, кг/ч</div>
													<span>0.1 - 130</span>
												</div>
											</div>
										</div>
										<div class="card-product__buttons">
											<a href="#" class="btn-order btn btn_primary">Заказать</a>
											<a href="product-card.html" class="btn-more btn btn_primary ">Подробнее</a>
										</div>
									</div>
								</div>
								<div class="card-product">
									<div class="card-product__image">
										<img loading="lazy" src="img/image19.webp" alt="">
									</div>
									<div class="card-product__item">
										<div class="card-product__title">
											Шнековый дозатор красителя SHINI серии
											SCM
										</div>
										<div class="card-product__bottom">
											<div class="card-product__price">Цена по запросу</div>
											<div class="card-product__buttons">
												<a href="#" class="btn-order btn btn_primary">Заказать</a>
												<a href="product-card.html"
													class="btn-more btn btn_primary ">Подробнее</a>
											</div>
										</div>
									</div>
									<div class="card-product__front">
										<div class="card-product__descr">
											<div class="card-product__list">
												<div class="card-product__list-title">Характеристики</div>
												<ul>
													<li>
														<span>простая конструкция</span>
													</li>
													<li>
														<span>быстрый монтаж
															и чистка</span>
													</li>
													<li>
														<span>магнитная ловушка</span>
													</li>
													<li>
														<span>микропроцессорное управление</span>
													</li>
													<li>
														<span>жк индикатор</span>
													</li>
												</ul>
											</div>
											<div class="card-product__lists">
												<div class="card-product__list">
													<div class="card-product__list-title">Производитель</div>
													<span>SHINI</span>
												</div>
												<div class="card-product__list">
													<div class="card-product__list-title">Тип дозатора</div>
													<span>объемный</span>
												</div>
												<div class="card-product__list">
													<div class="card-product__list-title">Производительность, кг/ч</div>
													<span>0.1 - 130</span>
												</div>
											</div>
										</div>
										<div class="card-product__buttons">
											<a href="#" class="btn-order btn btn_primary">Заказать</a>
											<a href="product-card.html" class="btn-more btn btn_primary ">Подробнее</a>
										</div>
									</div>
								</div>
								<div class="card-product">
									<div class="card-product__image">
										<img loading="lazy" src="img/image19.webp" alt="">
									</div>
									<div class="card-product__item">
										<div class="card-product__title">
											Шнековый дозатор красителя SHINI серии
											SCM
										</div>
										<div class="card-product__bottom">
											<div class="card-product__price">Цена по запросу</div>
											<div class="card-product__buttons">
												<a href="#" class="btn-order btn btn_primary">Заказать</a>
												<a href="product-card.html"
													class="btn-more btn btn_primary ">Подробнее</a>
											</div>
										</div>
									</div>
									<div class="card-product__front">
										<div class="card-product__descr">
											<div class="card-product__list">
												<div class="card-product__list-title">Характеристики</div>
												<ul>
													<li>
														<span>простая конструкция</span>
													</li>
													<li>
														<span>быстрый монтаж
															и чистка</span>
													</li>
													<li>
														<span>магнитная ловушка</span>
													</li>
													<li>
														<span>микропроцессорное управление</span>
													</li>
													<li>
														<span>жк индикатор</span>
													</li>
												</ul>
											</div>
											<div class="card-product__lists">
												<div class="card-product__list">
													<div class="card-product__list-title">Производитель</div>
													<span>SHINI</span>
												</div>
												<div class="card-product__list">
													<div class="card-product__list-title">Тип дозатора</div>
													<span>объемный</span>
												</div>
												<div class="card-product__list">
													<div class="card-product__list-title">Производительность, кг/ч</div>
													<span>0.1 - 130</span>
												</div>
											</div>
										</div>
										<div class="card-product__buttons">
											<a href="#" class="btn-order btn btn_primary">Заказать</a>
											<a href="product-card.html" class="btn-more btn btn_primary ">Подробнее</a>
										</div>
									</div>
								</div>
								<div class="card-product">
									<div class="card-product__image">
										<img loading="lazy" src="img/image19.webp" alt="">
									</div>
									<div class="card-product__item">
										<div class="card-product__title">
											Шнековый дозатор красителя SHINI серии
											SCM
										</div>
										<div class="card-product__bottom">
											<div class="card-product__price">Цена по запросу</div>
											<div class="card-product__buttons">
												<a href="#" class="btn-order btn btn_primary">Заказать</a>
												<a href="product-card.html"
													class="btn-more btn btn_primary ">Подробнее</a>
											</div>
										</div>
									</div>
									<div class="card-product__front">
										<div class="card-product__descr">
											<div class="card-product__list">
												<div class="card-product__list-title">Характеристики</div>
												<ul>
													<li>
														<span>простая конструкция</span>
													</li>
													<li>
														<span>быстрый монтаж
															и чистка</span>
													</li>
													<li>
														<span>магнитная ловушка</span>
													</li>
													<li>
														<span>микропроцессорное управление</span>
													</li>
													<li>
														<span>жк индикатор</span>
													</li>
												</ul>
											</div>
											<div class="card-product__lists">
												<div class="card-product__list">
													<div class="card-product__list-title">Производитель</div>
													<span>SHINI</span>
												</div>
												<div class="card-product__list">
													<div class="card-product__list-title">Тип дозатора</div>
													<span>объемный</span>
												</div>
												<div class="card-product__list">
													<div class="card-product__list-title">Производительность, кг/ч</div>
													<span>0.1 - 130</span>
												</div>
											</div>
										</div>
										<div class="card-product__buttons">
											<a href="#" class="btn-order btn btn_primary">Заказать</a>
											<a href="product-card.html" class="btn-more btn btn_primary ">Подробнее</a>
										</div>
									</div>
								</div>
								<div class="card-product">
									<div class="card-product__image">
										<img loading="lazy" src="img/image19.webp" alt="">
									</div>
									<div class="card-product__item">
										<div class="card-product__title">
											Шнековый дозатор красителя SHINI серии
											SCM
										</div>
										<div class="card-product__bottom">
											<div class="card-product__price">Цена по запросу</div>
											<div class="card-product__buttons">
												<a href="#" class="btn-order btn btn_primary">Заказать</a>
												<a href="product-card.html"
													class="btn-more btn btn_primary ">Подробнее</a>
											</div>
										</div>
									</div>
									<div class="card-product__front">
										<div class="card-product__descr">
											<div class="card-product__list">
												<div class="card-product__list-title">Характеристики</div>
												<ul>
													<li>
														<span>простая конструкция</span>
													</li>
													<li>
														<span>быстрый монтаж
															и чистка</span>
													</li>
													<li>
														<span>магнитная ловушка</span>
													</li>
													<li>
														<span>микропроцессорное управление</span>
													</li>
													<li>
														<span>жк индикатор</span>
													</li>
												</ul>
											</div>
											<div class="card-product__lists">
												<div class="card-product__list">
													<div class="card-product__list-title">Производитель</div>
													<span>SHINI</span>
												</div>
												<div class="card-product__list">
													<div class="card-product__list-title">Тип дозатора</div>
													<span>объемный</span>
												</div>
												<div class="card-product__list">
													<div class="card-product__list-title">Производительность, кг/ч</div>
													<span>0.1 - 130</span>
												</div>
											</div>
										</div>
										<div class="card-product__buttons">
											<a href="#" class="btn-order btn btn_primary">Заказать</a>
											<a href="product-card.html" class="btn-more btn btn_primary ">Подробнее</a>
										</div>
									</div>
								</div>
								<div class="card-product">
									<div class="card-product__image">
										<img loading="lazy" src="img/image19.webp" alt="">
									</div>
									<div class="card-product__item">
										<div class="card-product__title">
											Шнековый дозатор красителя SHINI серии
											SCM
										</div>
										<div class="card-product__bottom">
											<div class="card-product__price">Цена по запросу</div>
											<div class="card-product__buttons">
												<a href="#" class="btn-order btn btn_primary">Заказать</a>
												<a href="product-card.html"
													class="btn-more btn btn_primary ">Подробнее</a>
											</div>
										</div>
									</div>
									<div class="card-product__front">
										<div class="card-product__descr">
											<div class="card-product__list">
												<div class="card-product__list-title">Характеристики</div>
												<ul>
													<li>
														<span>простая конструкция</span>
													</li>
													<li>
														<span>быстрый монтаж
															и чистка</span>
													</li>
													<li>
														<span>магнитная ловушка</span>
													</li>
													<li>
														<span>микропроцессорное управление</span>
													</li>
													<li>
														<span>жк индикатор</span>
													</li>
												</ul>
											</div>
											<div class="card-product__lists">
												<div class="card-product__list">
													<div class="card-product__list-title">Производитель</div>
													<span>SHINI</span>
												</div>
												<div class="card-product__list">
													<div class="card-product__list-title">Тип дозатора</div>
													<span>объемный</span>
												</div>
												<div class="card-product__list">
													<div class="card-product__list-title">Производительность, кг/ч</div>
													<span>0.1 - 130</span>
												</div>
											</div>
										</div>
										<div class="card-product__buttons">
											<a href="#" class="btn-order btn btn_primary">Заказать</a>
											<a href="product-card.html" class="btn-more btn btn_primary ">Подробнее</a>
										</div>
									</div>
								</div>
								<div class="card-product">
									<div class="card-product__image">
										<img loading="lazy" src="img/image19.webp" alt="">
									</div>
									<div class="card-product__item">
										<div class="card-product__title">
											Шнековый дозатор красителя SHINI серии
											SCM
										</div>
										<div class="card-product__bottom">
											<div class="card-product__price">Цена по запросу</div>
											<div class="card-product__buttons">
												<a href="#" class="btn-order btn btn_primary">Заказать</a>
												<a href="product-card.html"
													class="btn-more btn btn_primary ">Подробнее</a>
											</div>
										</div>
									</div>
									<div class="card-product__front">
										<div class="card-product__descr">
											<div class="card-product__list">
												<div class="card-product__list-title">Характеристики</div>
												<ul>
													<li>
														<span>простая конструкция</span>
													</li>
													<li>
														<span>быстрый монтаж
															и чистка</span>
													</li>
													<li>
														<span>магнитная ловушка</span>
													</li>
													<li>
														<span>микропроцессорное управление</span>
													</li>
													<li>
														<span>жк индикатор</span>
													</li>
												</ul>
											</div>
											<div class="card-product__lists">
												<div class="card-product__list">
													<div class="card-product__list-title">Производитель</div>
													<span>SHINI</span>
												</div>
												<div class="card-product__list">
													<div class="card-product__list-title">Тип дозатора</div>
													<span>объемный</span>
												</div>
												<div class="card-product__list">
													<div class="card-product__list-title">Производительность, кг/ч</div>
													<span>0.1 - 130</span>
												</div>
											</div>
										</div>
										<div class="card-product__buttons">
											<a href="#" class="btn-order btn btn_primary">Заказать</a>
											<a href="product-card.html" class="btn-more btn btn_primary ">Подробнее</a>
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
			<div class="block-search-pagging">
				<div class="container">
					{% include 'blocks/pagging.njk' %}
				</div>
			</div>


			{% include 'blocks/information.njk' %}

			{% include 'blocks/feedback.njk' %}

		</main>
		{% include 'blocks/footer.njk' %}
	</div>
	{% include 'blocks/popups.njk' %}
	{% include 'blocks/scripts.njk' %}
</body>

</html>